#index-post {
    .card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% / 2 - 12px);

        &:nth-child(odd){
            margin-right: 12px;
        }
        &:nth-child(even){
            margin-left: 12px;
        }
        & img {
            width: 250px;
            height: 200px;
            object-fit: cover;
        }
        & p.description {
            text-overflow: ellipsis;
            overflow: hidden; 
            width: 500px;
            white-space: nowrap;
        }
        & .post-id {
            position: absolute;
            top: 5px;
            left: 5px;
            background-color: rgba($color: black, $alpha: 0.7);
            color: white;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 40px;
        }
    }
}